{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('analysis.static', filename='analysis.css')}}">
{% endblock %}

{% block main %}

<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-lightblue rounded box-shadow">
    <img class="mr-3" src="{{ url_for('static', filename='budget-v2.svg') }}" alt="" width="48" height="48">
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Analysis</h6>
      <small>Since 2021</small>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{url_for('analysis.static', filename='analysis.js')}}"></script>
{% endblock %}